<style media="print" type="text/css">
    @page {
        /*size: A5;*/
        margin: 4mm 1mm 2mm 10mm;
    }

    body {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        font-size: 12px;
        /* font-size: 18px; */
    }

    /* tr:nth-child(even) td {
    background-color: #D3D3D3 !important;
  } */

    html {
        -webkit-print-color-adjust: exact;
        background-color: #FFFFFF;
        margin: 0px;
        /* this affects the margin on the html before sending to printer */
    }
</style>
<style>
    body {
        /* font-size: 18px; */
        /* font-size: 12px; */
    }
</style>

<div style="border:1px solid #666; border-radius: 10px; border-collapse: collapse;" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center" style="border-bottom:1px solid #666;">
            <strong style="font-size:1.75em;">Essdee Knitting Mills Private Limited</strong>
            <br>
            <small> {{pdc.department_name}} Delivery Challan</small>
        </div>
    </div>
    <div class="row" style="border-bottom:1px solid #666;">
        <div class="col-xs-4" style="border-right:1px solid #ddd;">From:
            <br>
            <strong>Essdee Knitting Mills Private Limited,</strong>
            <br>No.4(1) First Floor, 3rd Street,
            <br>Sivasakthi Nagar, K.T.C School Road
            <br>Tirupur, Tamil Nadu - 641604
            <br>GSTIN: 33AAECE7034R1ZA
        </div>

        <div class="col-xs-4" style="border-left:1px solid #ddd; border-right:1px solid #ddd; padding-right: 1px;">To:
            <br>
            <strong style="font-size:1.3em;" class="text-capitalize">{{pdc.supplier_name.toLowerCase()}}</strong>,
            <small style="white-space: nowrap;">(id = {{pdc.supplier_id}})</small>
            <span ng-show="pdc.supplier_address1">
                <br>{{pdc.supplier_address1}},</span>
            <span ng-show="pdc.supplier_address2">
                <br>{{pdc.supplier_address2}},</span>
            <br> {{pdc.supplier_city + ", "}} {{pdc.supplier_state}}{{pdc.supplier_pincode?" - "+pdc.supplier_pincode+".":".";}}
            <br> {{pdc.supplier_gstin? "GSTIN: "+pdc.supplier_gstin:"";}}
        </div>
        <div class="col-xs-4" style="border-left:1px solid #ddd;">
            <div class="row" style="border-bottom:1px solid #ddd;">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">Date:</div>
                <div class="col-xs-7" style="padding-left:0px;">{{pdc.dc_date | date:'dd.MM.yyyy'}}</div>
            </div>
            <div class="row" style="border-bottom:1px solid #ddd; ">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">DC No.:</div>
                <div class="col-xs-7" style="padding-left:0px;" ng-if="pdc.status != 'inactive'">
                    <small>{{pdc.naming_series + " "}}</small>
                    <strong>{{ pdc.dc_number | minLength:pdc.dc_no_length }}</strong>
                </div>
                <div class="col-xs-7" style="padding-left:0px;" ng-if="pdc.status == 'inactive'">
                    <small style="text-decoration: line-through;">{{pdc.naming_series + " "}}</small>
                    <strong style="text-decoration: line-through;">{{ pdc.dc_number | minLength:pdc.dc_no_length }}</strong>
                    <span>(Cancelled)</span>
                </div>
            </div>
            <div class="row" style="border-bottom:1px solid #ddd; ">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">Process:</div>
                <div class="col-xs-7" style="padding-left:0px;">{{pdc.department_name}}</div>
            </div>
            <div class="row" style="border-bottom:1px solid #ddd; ">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">Lot Number:</div>
                <div class="col-xs-7" style="padding-left:0px;">{{pdc.lot_number}}</div>
            </div>
            <div class="row" style="border-bottom:1px solid #ddd; ">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">Item Name:</div>
                <div class="col-xs-7" style="padding-left:0px; font-size:0.8em;">{{pdc.item_naming_series}}{{pdc.itemname}}</div>
            </div>
            <div class="row" style="border-bottom:1px solid #ddd; ">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">Vehicle Number:</div>
                <div class="col-xs-7" style="padding-left:0px;">{{pdc.vehicle_number}}</div>
            </div>
            <div class="row">
                <div class="col-xs-5 text-right" style=" padding-right: 4px; padding-left:0px;">SCN:</div>
                <div class="col-xs-7" style="padding-left:0px;">998822</div>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom:1px solid #666;">
        <div class="col-xs-12 text-center">Particulars</div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="border-bottom:1px solid #666; padding-top: 8px;">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center pshead">S.No</th>
                        <th class="text-center pshead">Part</th>
                        <th class="text-center pshead">Colour</th>
                        <th class="text-center pshead">Comment</th>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size1===0?false:true">{{sizetype.size1}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size2===0?false:true">{{sizetype.size2}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size3===0?false:true">{{sizetype.size3}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size4===0?false:true">{{sizetype.size4}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size5===0?false:true">{{sizetype.size5}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size6===0?false:true">{{sizetype.size6}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size7===0?false:true">{{sizetype.size7}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size8===0?false:true">{{sizetype.size8}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size9===0?false:true">{{sizetype.size9}}</td>
                        <td class="text-center pshead" style="white-space: nowrap;" ng-show="sizerange.size10===0?false:true">{{sizetype.size10}}</td>
                        <th class="text-center pshead">
                            <strong>Total</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pdc.items track by $index" class="repeated-item">
                        <td class="psrow">{{$index + 1}}</td>
                        <td class="text-capitalize psrow">{{row.part}}</td>
                        <td class="text-capitalize psrow">{{row.colour}}</td>
                        <td class="text-capitalize psrow">{{row.comment}}</td>
                        <td class="text-center psrow" ng-show="sizerange.size1===0?false:true">
                            <span ng-show="row.size1 != 0">{{row.size1}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize1 != 0" class="pull-right">({{row.wsize1 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size2===0?false:true">
                            <span ng-show="row.size2 != 0">{{row.size2}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize2 != 0" class="pull-right">({{row.wsize2 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size3===0?false:true">
                            <span ng-show="row.size3 != 0">{{row.size3}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize3 != 0" class="pull-right">({{row.wsize3 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size4===0?false:true">
                            <span ng-show="row.size4 != 0">{{row.size4}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize4 != 0" class="pull-right">({{row.wsize4 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size5===0?false:true">
                            <span ng-show="row.size5 != 0">{{row.size5}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize5 != 0" class="pull-right">({{row.wsize5 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size6===0?false:true">
                            <span ng-show="row.size6 != 0">{{row.size6}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize6 != 0" class="pull-right">({{row.wsize6 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size7===0?false:true">
                            <span ng-show="row.size7 != 0">{{row.size7}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize7 != 0" class="pull-right">({{row.wsize7 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size8===0?false:true">
                            <span ng-show="row.size8 != 0">{{row.size8}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize8 != 0" class="pull-right">({{row.wsize8 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size9===0?false:true">
                            <span ng-show="row.size9 != 0">{{row.size9}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize9 != 0" class="pull-right">({{row.wsize9 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size10===0?false:true">
                            <span ng-show="row.size10 != 0">{{row.size10}} Pcs
                                <br>
                            </span>
                            <small ng-show="row.wsize10 != 0" class="pull-right">({{row.wsize10 | number:3}} KG)</small>
                        </td>
                        <td class="text-center psrow">
                            <strong> {{row.size1+row.size2+row.size3+row.size4+row.size5+row.size6+row.size7+row.size8+row.size9+row.size10}}
                                Pcs
                                <br>
                                <small class="pull-right">({{(row.wsize1+row.wsize2+row.wsize3+row.wsize4+row.wsize5+row.wsize6+row.wsize7+row.wsize8+row.wsize9+row.wsize10)
                                    | number:3}} KG)</small>
                            </strong>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <strong class="pull-right">Total</strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size1===0?false:true">
                            <strong>{{total(pdc.items,'size1',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize1',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size2===0?false:true">
                            <strong>{{total(pdc.items,'size2',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize2',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size3===0?false:true">
                            <strong>{{total(pdc.items,'size3',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize3',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size4===0?false:true">
                            <strong>{{total(pdc.items,'size4',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize4',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size5===0?false:true">
                            <strong>{{total(pdc.items,'size5',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize5',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size6===0?false:true">
                            <strong>{{total(pdc.items,'size6',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize6',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size7===0?false:true">
                            <strong>{{total(pdc.items,'size7',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize7',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size8===0?false:true">
                            <strong>{{total(pdc.items,'size8',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize8',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size9===0?false:true">
                            <strong>{{total(pdc.items,'size9',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize9',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow" ng-show="sizerange.size10===0?false:true">
                            <strong>{{total(pdc.items,'size10',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize10',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center psrow">
                            <strong> {{total(pdc.items,'size1',0)+total(pdc.items,'size2',0)+total(pdc.items,'size3',0)+total(pdc.items,'size4',0)+total(pdc.items,'size5',0)+total(pdc.items,'size6',0)+total(pdc.items,'size7',0)+total(pdc.items,'size8',0)+total(pdc.items,'size9',0)+total(pdc.items,'size10',0)}}
                                Pcs
                                <br>
                                <small class="pull-right">({{(total(pdc.items,'wsize1',3)+total(pdc.items,'wsize2',3)+total(pdc.items,'wsize3',3)+total(pdc.items,'wsize4',3)+total(pdc.items,'wsize5',3)+total(pdc.items,'wsize6',3)+total(pdc.items,'wsize7',3)+total(pdc.items,'wsize8',3)+total(pdc.items,'wsize9',3)+total(pdc.items,'wsize10',0))
                                    | number:3}} KG)</small>
                            </strong>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row" ng-show="pdc.comment" style="border-bottom:1px solid #666;">
        <div class="col-xs-12">DC Comments: {{pdc.comment}}</div>
    </div>
    <div class="row" style="border-bottom:1px solid #666;">
        <div class="col-xs-12">Estimated value of Goods: {{((total(pdc.items,'wsize1',3)+total(pdc.items,'wsize2',3)+total(pdc.items,'wsize3',3)+total(pdc.items,'wsize4',3)+total(pdc.items,'wsize5',3)+total(pdc.items,'wsize6',3)+total(pdc.items,'wsize7',3)+total(pdc.items,'wsize8',3)+total(pdc.items,'wsize9',3)+total(pdc.items,'wsize10',0))*pdc.rateperkg)+pdc.additionalvalue|INR}}</div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center" style="border-right:1px solid #666;">
            Receiver's Signature
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-7 text-left">Name: </div>
                <div class="col-xs-5 text-left">Desigination: </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <small>For </small>
            <strong>Essdee Knitting Mills Private Limited</strong>
            <br>
            <br>
            <br> Authorised Signatory
        </div>
    </div>
    <!-- <div class="row" style="padding-left:10px; border-top:1px solid #666;">
        Print Time: {{}}
    </div> -->
</div>