<div style="padding: 10px;">

    <div style="padding: 10px;" class="row">
        <label for="c1olour" class="col-sm-2 control-label"> Colour:</label>
        <div class="col-sm-4">
            <input autocomplete="off" required type="text" class="form-control" id="c1olour" placeholder="Enter New Colour" ng-model="colour">
        </div>
    </div>

    <div style="padding: 10px;" ng-show="dialist.length > 0">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!-- <th class="text-center">S.No</th> -->
                    <th class="text-center">Dia</th>
                    <th class="text-center">Roll</th>
                    <th class="text-center">Weight (kg)</th>
                    <th class="text-center">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dia in dialist track by $index" class="repeated-item">
                    <!-- <td>{{$index + 1}}</td> -->
                    <td class="text-capitalize">{{dia.dia}}</td>
                    <td class="text-capitalize">{{dia.roll}}</td>
                    <td class="text-capitalize">{{dia.weight| number:3}}</td>
                    <td class="text-capitalize">{{dia.comment}}</td>
                    <td class="hidden-print">
                        <span ng-click="editdia($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">Edit</span>
                        </span>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="removedia($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td>
                        <strong>{{total(dialist,'roll',0)}}</strong>
                    </td>
                    <td>
                        <strong>{{total(dialist,'weight',3)| number:3}}</strong>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="padding: 10px;" class="row">
        <button ng-click="ok()" class="btn btn-success pull-right" data-toggle="tooltip" title="Ctrl + S">Done</button>
        <button ng-click="cancel()" ng-show="index == -1" tabindex="-1" class="btn btn-warning">Cancel</button>
    </div>



    <div style="padding: 10px;">
        <form name="form" class="grid-form panel panel-default " ng-submit="add(newdia)">
            <fieldset>
                <legend class="panel-heading">Add Dia:</legend>
                <div data-row-span="12">
                    <div data-field-span="4" class="form-group">
                        <label>Dia</label>
                        <input id="diabox" type="number" min="0" ng-model="newdia.dia" placeholder="Enter Dia" required autocomplete="off">
                    </div>
                    <div data-field-span="4">
                        <label>Roll</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newdia.roll" ng-init="newdia.roll = 0">
                    </div>
                    <div data-field-span="4">
                        <label>Weight (kg)</label>
                        <input autocomplete="off" required type="number" min="0.001" step="0.001" ng-model="newdia.weight">
                    </div>
                </div>
                <div class="row container">
                    <div class="col-md-4">
                        <label>Comment</label>
                        <input autocomplete="on" type="text" maxlength="149" placeholder="Enter Comment (optional)" class="form-control input-sm"
                            ng-model="newdia.comment">
                    </div>
                </div>

            </fieldset>
            <input ng-show="" id="addbutton" class="btn btn-primary pull-right" type="submit" value="Add Item">
        </form>
    </div>
</div>

<div class="modal-footer">

</div>