<div style="padding-top:10px;">
    <legend>Supplier Master</legend>
    <button class="btn btn-default" ng-click="openaddsupplier()">Add New Supplier</button>
    <button class="btn btn-default" ng-click="opensupplierlist()">Edit Supplier</button>


    <!-- <legend style="padding-top:50px;">Item Master</legend>

    <button type="button" class="btn btn-default">coming soon...</button> -->
    <div style="padding-top:10px;">
        <legend>Colour Master</legend>
        <button class="btn btn-default" ng-click="openaddsimplemaster('colour')">Add New Colour</button>
        <button disabled class="btn btn-default" ng-click="opensimplemasterlist('colour')">Edit Colour</button>
    </div> 
    <div style="padding-top:10px;">
        <legend>LOT Master</legend>
        <button class="btn btn-default" ng-click="openaddsimplemaster('lot')">Add New LOT</button>
        <button disabled class="btn btn-default" ng-click="opensimplemasterlist('lot')">Edit LOT</button>
    </div>
</div>