<script type="text/ng-template" id="supplierpopup.html">
    <div>
        <form>
            <input class="form-control" id="supplierbox" type="text" ng-model="dynamicPopover.cdc.supplier_details" uib-typeahead="item as item.name for item in supplierlist | filter:$viewValue | limitTo:25" typeahead-template-url="customTemplate.html" placeholder="Enter Supplier Name / id" autofocus typeahead-on-select="setsupplier()" required autocomplete="off" typeahead-editable="false" typeahead-focus-on-select = "false" typeahead-min-length="0" ng-blur="popoverIsOpen = false">
        </form>        
        <script type="text/ng-template" id="customTemplate.html">
            <a style="cursor: pointer;">
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.city | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.state | uibTypeaheadHighlight:query"></span>
            </a>
        </script>
</div>
</script>

<div style="padding-top: 10px;padding-bottom: 10px;" class="hidden-print">
    <!-- {{cdc | json}} -->
    <legend>Cloth Delivery Challan</legend>
 
    <form id="form1" class="form-horizontal" autocomplete="off" ng-submit="savedc()">
        <div class="form-group">
            <label for="department" class="col-md-2 control-label">D.C. Type (Department):</label>
            <div class="col-md-3">
                <select id="department" class="form-control" ng-model="cdc.department" ng-change="getsuppliers()" ng-model-options="{ updateOn: 'blur' }"
                    autofocus required>
                    <option ng-repeat="department in departmentlist" value="{{department.id}}">{{department.name}}</option>
                </select>
            </div>

            <label for="datebox" class="col-md-2 col-md-offset-1 control-label">DC Date:</label>
            <div class="col-md-2">
                <p class="input-group">
                    <input autocomplete="off" id="datebox" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="cdc.dc_date"
                        is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        autofocus />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()" tabindex="-1">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="n1ame" class="col-md-2 control-label">Lot Number:</label>
            <div class="col-md-3">
                <input autocomplete="false" required type="text" class="form-control" id="n1ame" placeholder="Enter Lot Number" ng-keydown="$event.keyCode==9 && !$event.shiftKey?focussuppliername($event):return;"
                    ng-model="cdc.lot_number">
            </div>
            <label for="p1in" class="col-md-2 col-md-offset-1 control-label">DC Series:</label>
            <div class="col-md-2">
                <input autocomplete="false" type="text" class="form-control" id="p1in" placeholder="" readonly tabindex="-1" ng-model="cdc.naming_series">
            </div>
        </div>
        <div class="form-group" ng-show="cdc.department">
            <label for="n1ame" class="col-md-2 control-label">Supplier name:</label>
            <div class="col-md-4 col-md-offset-0">
                <div class="panel panel-default" uib-popover-template="dynamicPopover.templateUrl" popover-title="Supplier Name" popover-trigger="outsideClick"
                    popover-is-open="popoverIsOpen" ng-click="focussupplierbox()">
                    <div class="panel-body">
                        <address class="text-justified" ng-show="showaddress()">
                            <strong class="text-capitalize">{{cdc.supplier_details.name.toLowerCase()}}</strong>,
                            <small style="white-space: nowrap;">(id = {{cdc.supplier_details.id}})</small>
                            <span ng-show="cdc.supplier_details.address1">
                                <br>{{cdc.supplier_details.address1}},</span>
                            <span ng-show="cdc.supplier_details.address2">
                                <br>{{cdc.supplier_details.address2}},</span>
                            <br> {{cdc.supplier_details.city + ", "}} {{cdc.supplier_details.state}}{{cdc.supplier_details.pincode?"
                            - "+cdc.supplier_details.pincode+".":".";}}
                            <br> {{cdc.supplier_details.gstin? "GSTIN: "+cdc.supplier_details.gstin:"";}}
                        </address>
                        <div ng-show="!showaddress()">
                            <br>
                            <address class="text-justified badge">
                                Select supplier
                            </address>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div ng-show="cdc.items.length > 0">
            <table class="table table-bordered table-striped">
                <tr ng-repeat="item in cdc.items track by $index">
                    <td>Colour: {{item.colour}}</td>
                    <td>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <!-- <th class="text-center">S.No</th> -->
                                    <th class="text-center">Dia</th>
                                    <th class="text-center">Roll</th>
                                    <th class="text-center">Weight (kg)</th>
                                    <th class="text-center">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dia in item.dialist track by $index" class="repeated-item">
                                    <!-- <td>{{$index + 1}}</td> -->
                                    <td class="text-capitalize">{{dia.dia}}</td>
                                    <td class="text-capitalize">{{dia.roll}}</td>
                                    <td class="text-capitalize">{{dia.weight| number:3}}</td>
                                    <td class="text-capitalize">{{dia.comment}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <strong>Total</strong>
                                    </td>
                                    <td>
                                        <strong>{{total(item.dialist,'roll',0)}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{total(item.dialist,'weight',3)| number:3}}</strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="editcolour($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">Edit</span>
                        </span>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="removecolour($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <label for="rateperkg" class="col-md-2 control-label">Rate of goods per kg:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="number"  min="0" step="0.01" class="form-control" id="rateperkg" placeholder="rate" ng-model="cdc.rateperkg">
                </div>
                <label for="vehicle_number" class="col-md-2 col-md-offset-2 control-label">Vehicle Number:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="text" class="form-control" id="vehicle_number" placeholder="Vehicle Number" ng-model="cdc.vehicle_number">
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-md-2 control-label">DC Comments:</label>
                <div class="col-md-8">
                    <input autocomplete="false" type="text" class="form-control" id="comment" placeholder="Comments" ng-model="cdc.comment">
                </div>
            </div>


        </div>
        <input class="btn btn-success pull-right" type="submit" ng-click="" value="Save DC" style="Display:inline-block;"> 
        <!-- data-toggle="tooltip" title="Ctrl + S"> -->
        <input class="btn btn-danger " type="button" ng-click="cleardc()" value="Clear DC" tabindex="-1" style="Display:inline-block;">    
    </form>
   
    <div style="padding-top: 10px;padding-bottom: 10px;">
        <form class="form-horizontal" autocomplete="off" ng-submit="add(newcolour)">
            <div class="form-group">
                <label for="c1olour" class="col-md-2 control-label">New Colour:</label>
                <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
                    <input autocomplete="off" required type="text" class="form-control" id="c1olour" placeholder="Enter New Colour" ng-model="newcolour">
                </div>
                <div ng-show='' class="col-md-2">
                    <button type="submit" class="btn btn-success">Add Colour</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-include src="'./html/print/cdcprint.html'" class="visible-print-block" ng-show="cdc.dc_number"></ng-include>