<script type="text/ng-template" id="supplierpopup.html">
    <div>
        <form>
            <input class="form-control" id="supplierbox" type="text" ng-model="dynamicPopover.supplier_details" uib-typeahead="item as item.name for item in supplierlist | filter:$viewValue | limitTo:25" typeahead-template-url="customTemplate.html" placeholder="Enter Supplier Name / id" autofocus typeahead-on-select="setsupplier()" required autocomplete="off" typeahead-editable="false" typeahead-focus-on-select = "false" typeahead-min-length="0" ng-blur="popoverIsOpen = false">
        </form>        
        <script type="text/ng-template" id="customTemplate.html">
            <a style="cursor: pointer;">
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.city | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.state | uibTypeaheadHighlight:query"></span>
            </a>
        </script>
</div>
</script>

<script type="text/ng-template" id="itemCustomTemplate.html">
    <a style="cursor: pointer;">
            <!-- <span ng-bind-html="match.model.naming_series | uibTypeaheadHighlight:query"></span>  -->
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<style>
    .invisible {
        visibility: hidden;
    }
</style>

<div style="padding-top: 10px;padding-bottom: 10px;" class="hidden-print">
    <legend>Delivery Challan</legend>
    <!-- {{pdc |json}} -->
    <form id="form1" class="form-horizontal" autocomplete="off" ng-submit="savedc()">
        <div class="form-group">
            <label for="department" class="col-md-2 control-label">D.C. Type (Department):</label>
            <div class="col-md-3">
                <select id="department" class="form-control" ng-model="selected_department" ng-change="getsuppliers()" ng-model-options="{ debounce : 500 }"
                    autofocus required>
                    <option ng-repeat="department in departmentlist" value={{department}}>{{department.name}}</option>
                </select>
            </div>

            <label for="datebox" class="col-md-2 col-md-offset-1 control-label">DC Date:</label>
            <div class="col-md-2">
                <p class="input-group">
                    <input autocomplete="off" id="datebox" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dc.dc_date"
                        is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        autofocus />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()" tabindex="-1">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="p1in" class="col-md-2 control-label">DC Series:</label>
            <div class="col-md-2">
                <input autocomplete="false" type="text" class="form-control" id="p1in" placeholder="" readonly tabindex="-1" ng-model="dc.naming_series">
            </div>
        </div>
        <div class="form-group" ng-show="dc.department">
            <label for="n1ame" class="col-md-2 control-label">Supplier name:</label>
            <div class="col-md-4 col-md-offset-0">
                <div class="panel panel-default" uib-popover-template="dynamicPopover.templateUrl" popover-title="Supplier Name" popover-trigger="outsideClick"
                    popover-is-open="popoverIsOpen" ng-click="focussupplierbox()">
                    <div class="panel-body">
                        <address class="text-justified" ng-show="showaddress()">
                            <strong class="text-capitalize">{{dc.supplier_name.toLowerCase()}}</strong>,
                            <small style="white-space: nowrap;">(id = {{dc.supplier_id}})</small>
                            <span ng-show="dc.supplier_address1">
                                <br>{{dc.supplier_address1}},</span>
                            <span ng-show="dc.supplier_address2">
                                <br>{{dc.supplier_address2}},</span>
                            <br> {{dc.supplier_city + ", "}} {{dc.supplier_state}}{{dc.supplier_pincode?" - "+dc.supplier_pincode+".":".";}}
                            <br> {{dc.supplier_gstin? "GSTIN: "+dc.supplier_gstin:"";}}
                        </address>
                        <div ng-show="!showaddress()">
                            <br>
                            <address class="text-justified badge">
                                Select supplier
                            </address>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div ng-show="dc.items.length > 0">
            <table class="table table-bordered table-striped" ng-if="dc.dept_type == 'piece'">
                <tr ng-repeat="item in dc.items track by $index">
                    <td>Item: {{item.item.name}}
                        <span class="pull-right"> Lot Number: {{item.lot_number}}</span><br>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">S.No</th>
                                    <th class="text-center">Part</th>
                                    <th class="text-center">Colour</th>
                                    <th class="text-center">Comment</th>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size1===0?false:true">{{item.sizetype.size1}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size2===0?false:true">{{item.sizetype.size2}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size3===0?false:true">{{item.sizetype.size3}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size4===0?false:true">{{item.sizetype.size4}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size5===0?false:true">{{item.sizetype.size5}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size6===0?false:true">{{item.sizetype.size6}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size7===0?false:true">{{item.sizetype.size7}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size8===0?false:true">{{item.sizetype.size8}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size9===0?false:true">{{item.sizetype.size9}}</td>
                                    <td class="text-center" style="white-space: nowrap;" ng-show="item.sizerange.size10===0?false:true">{{item.sizetype.size10}}</td>
                                    <th class="text-center">
                                        <strong>Total</strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in item.partlist track by $index" class="repeated-item">
                                    <td>{{$index + 1}}</td>
                                    <td class="text-capitalize">{{row.part}}</td>
                                    <td class="text-capitalize">{{row.colour}}</td>
                                    <td class="text-capitalize">{{row.comment}}</td>
                                    <td class="text-center" ng-show="item.sizerange.size1===0?false:true">
                                        <span ng-show="row.size1 != 0">{{row.size1}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize1 != 0" class="pull-right">({{row.wsize1 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size2===0?false:true">
                                        <span ng-show="row.size2 != 0">{{row.size2}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize2 != 0" class="pull-right">({{row.wsize2 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size3===0?false:true">
                                        <span ng-show="row.size3 != 0">{{row.size3}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize3 != 0" class="pull-right">({{row.wsize3 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size4===0?false:true">
                                        <span ng-show="row.size4 != 0">{{row.size4}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize4 != 0" class="pull-right">({{row.wsize4 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size5===0?false:true">
                                        <span ng-show="row.size5 != 0">{{row.size5}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize5 != 0" class="pull-right">({{row.wsize5 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size6===0?false:true">
                                        <span ng-show="row.size6 != 0">{{row.size6}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize6 != 0" class="pull-right">({{row.wsize6 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size7===0?false:true">
                                        <span ng-show="row.size7 != 0">{{row.size7}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize7 != 0" class="pull-right">({{row.wsize7 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size8===0?false:true">
                                        <span ng-show="row.size8 != 0">{{row.size8}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize8 != 0" class="pull-right">({{row.wsize8 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size9===0?false:true">
                                        <span ng-show="row.size9 != 0">{{row.size9}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize9 != 0" class="pull-right">({{row.wsize9 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size10===0?false:true">
                                        <span ng-show="row.size10 != 0">{{row.size10}} Pcs
                                        </span>
                                        <br>
                                        <small ng-show="row.wsize10 != 0" class="pull-right">({{row.wsize10 | number:3}} KG)</small>
                                    </td>
                                    <td class="text-center">
                                        <strong> {{row.size1+row.size2+row.size3+row.size4+row.size5+row.size6+row.size7+row.size8+row.size9+row.size10}}
                                            Pcs
                                            <br>
                                            <small class="pull-right">({{(row.wsize1+row.wsize2+row.wsize3+row.wsize4+row.wsize5+row.wsize6+row.wsize7+row.wsize8+row.wsize9+row.wsize10)
                                                | number:3}} KG)</small>
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <strong class="pull-right">Total</strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size1===0?false:true">
                                        <strong>{{total(item.partlist,'size1',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize1',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size2===0?false:true">
                                        <strong>{{total(item.partlist,'size2',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize2',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size3===0?false:true">
                                        <strong>{{total(item.partlist,'size3',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize3',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size4===0?false:true">
                                        <strong>{{total(item.partlist,'size4',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize4',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size5===0?false:true">
                                        <strong>{{total(item.partlist,'size5',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize5',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size6===0?false:true">
                                        <strong>{{total(item.partlist,'size6',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize6',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size7===0?false:true">
                                        <strong>{{total(item.partlist,'size7',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize7',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size8===0?false:true">
                                        <strong>{{total(item.partlist,'size8',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize8',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size9===0?false:true">
                                        <strong>{{total(item.partlist,'size9',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize9',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center" ng-show="item.sizerange.size10===0?false:true">
                                        <strong>{{total(item.partlist,'size10',0)}} Pcs
                                            <br>
                                            <small class="pull-right">({{total(item.partlist,'wsize10',3)}} KG)</small>
                                        </strong>
                                    </td>
                                    <td class="text-center">
                                        <strong> {{total(item.partlist,'size1',0)+total(item.partlist,'size2',0)+total(item.partlist,'size3',0)+total(item.partlist,'size4',0)+total(item.partlist,'size5',0)+total(item.partlist,'size6',0)+total(item.partlist,'size7',0)+total(item.partlist,'size8',0)+total(item.partlist,'size9',0)+total(item.partlist,'size10',0)}}
                                            Pcs
                                            <br>
                                            <small class="pull-right">({{(total(item.partlist,'wsize1',3)+total(item.partlist,'wsize2',3)+total(item.partlist,'wsize3',3)+total(item.partlist,'wsize4',3)+total(item.partlist,'wsize5',3)+total(item.partlist,'wsize6',3)+total(item.partlist,'wsize7',3)+total(item.partlist,'wsize8',3)+total(item.partlist,'wsize9',3)+total(item.partlist,'wsize10',0))
                                                | number:3}} KG)</small>
                                        </strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="edititem($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">Edit</span>
                        </span>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="removeitem($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </td>

                </tr>
            </table>

            <table class="table table-bordered table-striped" ng-if="dc.dept_type == 'cloth'">
                <tr ng-repeat="item in dc.items track by $index">
                    <td>Colour: {{item.colour}}
                        <br> Lot Number: {{item.lot_number}}
                    </td>
                    <td>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <!-- <th class="text-center">S.No</th> -->
                                    <th class="text-center">Dia</th>
                                    <th class="text-center">Roll</th>
                                    <th class="text-center">Weight (kg)</th>
                                    <th class="text-center">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dia in item.dialist track by $index" class="repeated-item">
                                    <!-- <td>{{$index + 1}}</td> -->
                                    <td class="text-capitalize">{{dia.dia}}</td>
                                    <td class="text-capitalize">{{dia.roll}}</td>
                                    <td class="text-capitalize">{{dia.weight| number:3}}</td>
                                    <td class="text-capitalize">{{dia.comment}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <strong>Total</strong>
                                    </td>
                                    <td>
                                        <strong>{{total(item.dialist,'roll',0)}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{total(item.dialist,'weight',3)| number:3}}</strong>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="editcolour($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">Edit</span>
                        </span>
                    </td>
                    <td class="hidden-print">
                        <span ng-click="removecolour($index)" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <label class="col-md-3 control-label">Estimated value of Goods:</label>
                <div class="col-md-2">
                    <p readonly class="form-control" ng-if="dc.dept_type == 'cloth'">{{grand_total_weight(dc.items)*dc.rateperkg+dc.additionalvalue|INR}}</p>
                    <p readonly class="form-control" ng-if="dc.dept_type == 'piece'">{{grand_total_weight_partlist(dc.items)*dc.rateperkg+dc.additionalvalue|INR}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="rateperkg" class="col-md-3 control-label">Rate of goods per kg:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="number" min="0" step="0.01" class="form-control" id="rateperkg" placeholder="rate"
                        ng-model="dc.rateperkg">
                </div>
                <label for="vehicle_number" class="col-md-2 col-md-offset-2 control-label">Vehicle Number:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="text" maxlength="12" class="form-control" id="vehicle_number" placeholder="Vehicle Number"
                        ng-model="dc.vehicle_number">
                </div>
            </div>
            <div class="form-group">
                <label for="additionalvalue" class="col-md-3 control-label">Additional Goods Value:</label>
                <div class="col-md-2">
                    <input autocomplete="false" type="number" min="0" step="0.01" class="form-control" id="additionalvalue" placeholder="goods value"
                        ng-model="dc.additionalvalue">
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-md-3 control-label">DC Comments:</label>
                <div class="col-md-8">
                    <input autocomplete="false" type="text" maxlength="120" class="form-control" id="comment" placeholder="Comments" ng-model="dc.comment">
                </div>
            </div>


        </div>
        <input class="btn btn-success pull-right" type="submit" value="Save DC" style="Display:inline-block;">
        <!-- data-toggle="tooltip" title="Ctrl + S"> -->
        <input class="btn btn-danger " type="button" ng-click="cleardc()" value="Clear DC" tabindex="-1" style="Display:inline-block;">
    </form>





    <div class="hidden-print" style="padding-top: 8px;">

        <form name="formp" class="form-horizontal" ng-if="dc.dept_type == 'piece'" autocomplete="off" ng-submit="addItem(temp_storage.newitemdetails, dc.lot_number, sizerange, sizetype)">
            <div class="form-group">

                <label for="lotbox" class="col-md-2 control-label">Lot Number:</label>
                <div class="col-md-3" style="padding-top: 10px;padding-bottom: 10px;">
                    <input required class="form-control input-sm" id="lotbox" type="text" ng-model="dc.lot_number" uib-typeahead="item.name for item in lotlist | filter:$viewValue | limitTo:25"
                        placeholder="Enter Lot Number" typeahead-on-select="" autocomplete="off" typeahead-editable="false" typeahead-focus-on-select="false">
                </div>

                <label for="p1in" class="col-md-2 control-label">Item:</label>
                <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
                    <input class="form-control input-sm" name="itembox" id="itembox" type="text" ng-model="temp_storage.newitemdetails" uib-typeahead="item as item.fullname for item in itemlist | filter:$viewValue | limitTo:25"
                        placeholder="Enter item name / id" typeahead-on-select="setnameid()" ng-change="setnameid()" required
                        autocomplete="off" typeahead-editable="false" typeahead-focus-on-select="false" typeahead-template-url="itemCustomTemplate.html">
                </div>
                <div ng-show='' class="col-md-2">
                    <button type="submit" class="btn btn-success">Add Item</button>
                </div>

            </div>
        </form>

        <form name="formc" class="form-horizontal" ng-if="dc.dept_type == 'cloth'" autocomplete="off" ng-submit="addColor(temp_storage.newcolour, dc.lot_number)">
            <div class="form-group">

                <label for="lotbox" class="col-md-2 control-label">Lot Number:</label>
                <div class="col-md-3" style="padding-top: 10px;padding-bottom: 10px;">
                    <input required class="form-control input-sm" id="lotbox" type="text" ng-model="dc.lot_number" uib-typeahead="item.name for item in lotlist | filter:$viewValue | limitTo:25"
                        placeholder="Enter Lot Number" typeahead-on-select="" autocomplete="off" typeahead-editable="false" typeahead-focus-on-select="false">
                </div>

                <label for="c1olour" class="col-md-2 col-md-offset-1 control-label">New Colour:</label>
                <div class="col-md-4" style="padding-top: 10px;padding-bottom: 10px;">
                    <input required class="form-control input-sm" id="c1olour" type="text" ng-model="temp_storage.newcolour" uib-typeahead="item.name for item in colourlist | filter:$viewValue | limitTo:25"
                        placeholder="Enter New Colour" autocomplete="off" typeahead-editable="false" typeahead-focus-on-select="false">
                </div>
                <div ng-show='' class="col-md-2">
                    <button type="submit" class="btn btn-success">Add Colour</button>
                </div>
            </div>
        </form>

    </div>


</div>
<ng-include src="'./html/print/dcprint.html'" class="visible-print-block" ng-if="dc.dc_number && dc.items && dc.items.length > 0"></ng-include>