<script type="text/ng-template" id="supplierpopup.html">
    <div>
        <form>
            <input class="form-control" id="supplierbox" type="text" ng-model="dynamicPopover.supplier_details" uib-typeahead="item as item.name for item in supplierlist | filter:$viewValue | limitTo:25" typeahead-template-url="customTemplate.html" placeholder="Enter Supplier Name / id" autofocus typeahead-on-select="setsupplier()" required autocomplete="off" typeahead-editable="false" typeahead-focus-on-select = "false" typeahead-min-length="0" ng-blur="popoverIsOpen = false">
        </form>        
        <script type="text/ng-template" id="customTemplate.html">
            <a style="cursor: pointer;">
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.city | uibTypeaheadHighlight:query"></span>
                , <span ng-bind-html="match.model.state | uibTypeaheadHighlight:query"></span>
            </a>
        </script>
</div>
</script>

<script type="text/ng-template" id="itemCustomTemplate.html">
    <a style="cursor: pointer;">
            <!-- <span ng-bind-html="match.model.naming_series | uibTypeaheadHighlight:query"></span>  -->
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<style>
    .invisible {
        visibility: hidden;
    }
</style>

<div style="padding-top: 10px;padding-bottom: 10px;" class="hidden-print">
    <legend>Pieces Delivery Challan</legend>
    <!-- {{pdc |json}} -->
    <form id="form1" class="form-horizontal" autocomplete="off" ng-submit="savedc()">
        <div class="form-group">
            <label for="department" class="col-md-2 control-label">D.C. Type (Department):</label>
            <div class="col-md-3">
                <select id="department" class="form-control" ng-model="pdc.department" ng-change="getsuppliers()" ng-model-options="{ updateOn: 'blur' }"
                    autofocus required>
                    <option ng-repeat="department in departmentlist" value="{{department.id}}">{{department.name}}</option>
                </select>
            </div>

            <label for="datebox" class="col-md-2 col-md-offset-1 control-label">DC Date:</label>
            <div class="col-md-2">
                <p class="input-group">
                    <input autocomplete="off" id="datebox" type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="pdc.dc_date"
                        is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                        autofocus />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()" tabindex="-1">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="lotbox" class="col-md-2 control-label">Lot Number:</label>
            <div class="col-md-3">
                <!-- <input autocomplete="false" required type="text" class="form-control" id="n1ame" placeholder="Enter Lot Number" ng-keydown="$event.keyCode==9 && !$event.shiftKey?focussuppliername($event):return;"
                    ng-model="pdc.lot_number"> -->
                    <input required class="form-control input-sm" id="lotbox" type="text" ng-model="pdc.lot_number" uib-typeahead="item.name for item in lotlist | filter:$viewValue | limitTo:25"
                            placeholder="Enter Lot Number" typeahead-on-select="focussuppliername(null)" autocomplete="off" typeahead-editable="false"
                            typeahead-focus-on-select="false">
            </div>
            <label for="p1in" class="col-md-2 col-md-offset-1 control-label">DC Series:</label>
            <div class="col-md-2">
                <input autocomplete="false" type="text" class="form-control" id="p1in" placeholder="" readonly tabindex="-1" ng-model="pdc.naming_series">
            </div>
        </div>
        <div class="form-group" ng-show="pdc.department">
            <label for="n1ame" class="col-md-2 control-label">Supplier name:</label>
            <div class="col-md-4 col-md-offset-0">
                <div class="panel panel-default" uib-popover-template="dynamicPopover.templateUrl" popover-title="Supplier Name" popover-trigger="outsideClick"
                    popover-is-open="popoverIsOpen" ng-click="focussupplierbox()">
                    <div class="panel-body">
                        <address class="text-justified" ng-show="showaddress()">
                            <strong class="text-capitalize">{{pdc.supplier_name.toLowerCase()}}</strong>,
                            <small style="white-space: nowrap;">(id = {{pdc.supplier_id}})</small>
                            <span ng-show="pdc.supplier_address1">
                                <br>{{pdc.supplier_address1}},</span>
                            <span ng-show="pdc.supplier_address2">
                                <br>{{pdc.supplier_address2}},</span>
                            <br> {{pdc.supplier_city + ", "}} {{pdc.supplier_state}}{{pdc.supplier_pincode?" - "+pdc.supplier_pincode+".":".";}}
                            <br> {{pdc.supplier_gstin? "GSTIN: "+pdc.supplier_gstin:"";}}
                        </address>
                        <div ng-show="!showaddress()">
                            <br>
                            <address class="text-justified badge">
                                Select supplier
                            </address>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <label for="p1in" class="col-md-2 control-label">Item:</label>
            <div class="col-md-4">
                <input class="form-control input-sm" name="itembox" id="itembox" type="text" ng-model="newitemdetails" uib-typeahead="item as item.fullname for item in itemlist | filter:$viewValue | limitTo:25"
                    placeholder="Enter item name / id" typeahead-on-select="setnameid()" ng-change="setnameid()" required autocomplete="off"
                    typeahead-editable="false" typeahead-focus-on-select="false" typeahead-template-url="itemCustomTemplate.html">
            </div>
        </div>




        <div ng-show="pdc.items.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">S.No</th>
                        <th class="text-center">Part</th>
                        <th class="text-center">Colour</th>
                        <th class="text-center">Comment</th>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size1===0?false:true">{{sizetype.size1}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size2===0?false:true">{{sizetype.size2}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size3===0?false:true">{{sizetype.size3}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size4===0?false:true">{{sizetype.size4}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size5===0?false:true">{{sizetype.size5}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size6===0?false:true">{{sizetype.size6}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size7===0?false:true">{{sizetype.size7}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size8===0?false:true">{{sizetype.size8}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size9===0?false:true">{{sizetype.size9}}</td>
                        <td class="text-center" style="white-space: nowrap;" ng-show="sizerange.size10===0?false:true">{{sizetype.size10}}</td>
                        <th class="text-center">
                            <strong>Total</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in pdc.items track by $index" class="repeated-item">
                        <td>{{$index + 1}}</td>
                        <td class="text-capitalize">{{row.part}}</td>
                        <td class="text-capitalize">{{row.colour}}</td>
                        <td class="text-capitalize">{{row.comment}}</td>
                        <td class="text-center" ng-show="sizerange.size1===0?false:true">
                            <span ng-show="row.size1 != 0">{{row.size1}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize1 != 0" class="pull-right">({{row.wsize1 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size2===0?false:true">
                            <span ng-show="row.size2 != 0">{{row.size2}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize2 != 0" class="pull-right">({{row.wsize2 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size3===0?false:true">
                            <span ng-show="row.size3 != 0">{{row.size3}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize3 != 0" class="pull-right">({{row.wsize3 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size4===0?false:true">
                            <span ng-show="row.size4 != 0">{{row.size4}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize4 != 0" class="pull-right">({{row.wsize4 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size5===0?false:true">
                            <span ng-show="row.size5 != 0">{{row.size5}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize5 != 0" class="pull-right">({{row.wsize5 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size6===0?false:true">
                            <span ng-show="row.size6 != 0">{{row.size6}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize6 != 0" class="pull-right">({{row.wsize6 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size7===0?false:true">
                            <span ng-show="row.size7 != 0">{{row.size7}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize7 != 0" class="pull-right">({{row.wsize7 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size8===0?false:true">
                            <span ng-show="row.size8 != 0">{{row.size8}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize8 != 0" class="pull-right">({{row.wsize8 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size9===0?false:true">
                            <span ng-show="row.size9 != 0">{{row.size9}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize9 != 0" class="pull-right">({{row.wsize9 | number:3}} KG)</small>
                        </td>
                        <td class="text-center" ng-show="sizerange.size10===0?false:true">
                            <span ng-show="row.size10 != 0">{{row.size10}} Pcs
                            </span>
                            <br>
                            <small ng-show="row.wsize10 != 0" class="pull-right">({{row.wsize10 | number:3}} KG)</small>
                        </td>
                        <td class="text-center">
                            <strong> {{row.size1+row.size2+row.size3+row.size4+row.size5+row.size6+row.size7+row.size8+row.size9+row.size10}}
                                Pcs
                                <br>
                                <small class="pull-right">({{(row.wsize1+row.wsize2+row.wsize3+row.wsize4+row.wsize5+row.wsize6+row.wsize7+row.wsize8+row.wsize9+row.wsize10)
                                    | number:3}} KG)</small>
                            </strong>
                        </td>
                        <td class="hidden-print">
                            <span ng-click="edit(pdc.items,$index,newitem)" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">Edit</span>
                            </span>
                        </td>
                        <td class="hidden-print">
                            <span ng-click="remove(pdc.items,$index)" type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <strong class="pull-right">Total</strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size1===0?false:true">
                            <strong>{{total(pdc.items,'size1',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize1',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size2===0?false:true">
                            <strong>{{total(pdc.items,'size2',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize2',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size3===0?false:true">
                            <strong>{{total(pdc.items,'size3',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize3',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size4===0?false:true">
                            <strong>{{total(pdc.items,'size4',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize4',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size5===0?false:true">
                            <strong>{{total(pdc.items,'size5',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize5',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size6===0?false:true">
                            <strong>{{total(pdc.items,'size6',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize6',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size7===0?false:true">
                            <strong>{{total(pdc.items,'size7',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize7',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size8===0?false:true">
                            <strong>{{total(pdc.items,'size8',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize8',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size9===0?false:true">
                            <strong>{{total(pdc.items,'size9',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize9',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center" ng-show="sizerange.size10===0?false:true">
                            <strong>{{total(pdc.items,'size10',0)}} Pcs
                                <br>
                                <small class="pull-right">({{total(pdc.items,'wsize10',3)}} KG)</small>
                            </strong>
                        </td>
                        <td class="text-center">
                            <strong> {{total(pdc.items,'size1',0)+total(pdc.items,'size2',0)+total(pdc.items,'size3',0)+total(pdc.items,'size4',0)+total(pdc.items,'size5',0)+total(pdc.items,'size6',0)+total(pdc.items,'size7',0)+total(pdc.items,'size8',0)+total(pdc.items,'size9',0)+total(pdc.items,'size10',0)}}
                                Pcs
                                <br>
                                <small class="pull-right">({{(total(pdc.items,'wsize1',3)+total(pdc.items,'wsize2',3)+total(pdc.items,'wsize3',3)+total(pdc.items,'wsize4',3)+total(pdc.items,'wsize5',3)+total(pdc.items,'wsize6',3)+total(pdc.items,'wsize7',3)+total(pdc.items,'wsize8',3)+total(pdc.items,'wsize9',3)+total(pdc.items,'wsize10',0))
                                    | number:3}} KG)</small>
                            </strong>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <label class="col-md-3 control-label">Estimated value of Goods:</label>
                <div class="col-md-2">
                    <p readonly class="form-control">{{((total(pdc.items,'wsize1',3)+total(pdc.items,'wsize2',3)+total(pdc.items,'wsize3',3)+total(pdc.items,'wsize4',3)+total(pdc.items,'wsize5',3)+total(pdc.items,'wsize6',3)+total(pdc.items,'wsize7',3)+total(pdc.items,'wsize8',3)+total(pdc.items,'wsize9',3)+total(pdc.items,'wsize10',0))*pdc.rateperkg)+pdc.additionalvalue|INR}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="rateperkg" class="col-md-3 control-label">Rate of goods per kg:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="number" min="0" step="0.01" class="form-control" id="rateperkg" placeholder="rate"
                        ng-model="pdc.rateperkg">
                </div>
                <label for="vehicle_number" class="col-md-2 col-md-offset-2 control-label">Vehicle Number:</label>
                <div class="col-md-2">
                    <input autocomplete="false" required type="text" maxlength="12" class="form-control" id="vehicle_number" placeholder="Vehicle Number"
                        ng-model="pdc.vehicle_number">
                </div>
            </div>
            <div class="form-group">
                <label for="additionalvalue" class="col-md-3 control-label">Additional Goods Value:</label>
                <div class="col-md-2">
                    <input autocomplete="false" type="number" min="0" step="0.01" class="form-control" id="additionalvalue" placeholder="goods value"
                        ng-model="pdc.additionalvalue">
                </div>
            </div>
            <div class="form-group">
                <label for="comment" class="col-md-3 control-label">DC Comments:</label>
                <div class="col-md-8">
                    <input autocomplete="false" type="text" maxlength="120" class="form-control" id="comment" placeholder="Comments" ng-model="pdc.comment">
                </div>
            </div>


        </div>
        <input class="btn btn-success pull-right" type="submit" value="Save DC" style="Display:inline-block;">
        <!-- data-toggle="tooltip" title="Ctrl + S"> -->
        <input class="btn btn-danger " type="button" ng-click="cleardc()" value="Clear DC" tabindex="-1" style="Display:inline-block;">
    </form>


    <div class="hidden-print" style="padding-top: 8px;">


        <form name="formq" ng-if="pdc.iditem != undefined" class="grid-form panel panel-default " ng-submit="add(newitem)">
            <!-- -->
            <fieldset>
                <legend class="panel-heading">Add Item:
                </legend>
                <div data-row-span="12">
                    <div data-field-span="6" class="form-group">
                        <label>Part</label>
                        <input class="form-control input-sm" id="partbox" type="text" ng-model="newitem.part" placeholder="Enter Part (Optional)"
                            typeahead-on-select="setnameid99()" autocomplete="off" typeahead-editable="true" typeahead-focus-on-select="false">
                    </div>
                    <div data-field-span="6" class="form-group">
                        <label>Colour</label>
                        <input class="form-control input-sm" id="colourbox" type="text" ng-model="newitem.colour" uib-typeahead="item.name for item in colourlist | filter:$viewValue | limitTo:25"
                            placeholder="Enter Colour (Optional)" typeahead-on-select="setnameid99no()" autocomplete="off" typeahead-editable="false"
                            typeahead-focus-on-select="false">
                    </div>
                </div>
                <div data-row-span="10">
                    <div data-field-span="1" ng-hide="sizestate[0]">
                        <label>{{currentSize.size1}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size1" ng-init="newitem.size1 = 0" ng-disabled="sizestate[0]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize1" ng-init="newitem.wsize1 = 0"
                            ng-disabled="sizestate[0]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[1]">
                        <label>{{currentSize.size2}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size2" ng-init="newitem.size2 = 0" ng-disabled="sizestate[1]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize2" ng-init="newitem.wsize2 = 0"
                            ng-disabled="sizestate[1]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[2]">
                        <label>{{currentSize.size3}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size3" ng-init="newitem.size3 = 0" ng-disabled="sizestate[2]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize3" ng-init="newitem.wsize3 = 0"
                            ng-disabled="sizestate[2]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[3]">
                        <label>{{currentSize.size4}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size4" ng-init="newitem.size4 = 0" ng-disabled="sizestate[3]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize4" ng-init="newitem.wsize4 = 0"
                            ng-disabled="sizestate[3]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[4]">
                        <label>{{currentSize.size5}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size5" ng-init="newitem.size5 = 0" ng-disabled="sizestate[4]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize5" ng-init="newitem.wsize5 = 0"
                            ng-disabled="sizestate[4]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[5]">
                        <label>{{currentSize.size6}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size6" ng-init="newitem.size6 = 0" ng-disabled="sizestate[5]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize6" ng-init="newitem.wsize6 = 0"
                            ng-disabled="sizestate[5]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[6]">
                        <label>{{currentSize.size7}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size7" ng-init="newitem.size7 = 0" ng-disabled="sizestate[6]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize7" ng-init="newitem.wsize7 = 0"
                            ng-disabled="sizestate[6]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[7]">
                        <label>{{currentSize.size8}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size8" ng-init="newitem.size8 = 0" ng-disabled="sizestate[7]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize8" ng-init="newitem.wsize8 = 0"
                            ng-disabled="sizestate[7]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[8]">
                        <label>{{currentSize.size9}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size9" ng-init="newitem.size9 = 0" ng-disabled="sizestate[8]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize9" ng-init="newitem.wsize9 = 0"
                            ng-disabled="sizestate[8]">
                    </div>
                    <div data-field-span="1" ng-hide="sizestate[9]">
                        <label>{{currentSize.size10}}
                            <br>Pieces</label>
                        <input autocomplete="off" required type="number" min="0" ng-model="newitem.size10" ng-init="newitem.size10 = 0" ng-disabled="sizestate[9]">
                        <label>
                            <small>WEIGHT</small>
                        </label>
                        <input autocomplete="off" required type="number" min="0.000" step="0.001" ng-model="newitem.wsize10" ng-init="newitem.wsize10 = 0"
                            ng-disabled="sizestate[9]">
                    </div>

                </div>

                <div class="row container">
                    <div class="col-md-8">
                        <label>Item Comment</label>
                        <input autocomplete="on" type="text" maxlength="120" placeholder="Enter Item Comment (optional)" class="form-control input-sm"
                            ng-model="newitem.comment">
                    </div>
                    <div class="col-md-2">
                        <label>Total Pieces</label>
                        <br>{{(newitem.size1+newitem.size2+newitem.size3+newitem.size4+newitem.size5+newitem.size6+newitem.size7+newitem.size8+newitem.size9+newitem.size10)}}
                    </div>
                    <div class="col-md-2">
                        <label>Total Weight</label>
                        <br>{{(newitem.wsize1+newitem.wsize2+newitem.wsize3+newitem.wsize4+newitem.wsize5+newitem.wsize6+newitem.wsize7+newitem.wsize8+newitem.wsize9+newitem.wsize10).toFixed(3)}}
                    </div>
                </div>


            </fieldset>
            <br>
            <input ng-if="newitem.index == undefined" id="addbutton" class="btn btn-primary pull-right" type="submit" value="Add Item">
            <input ng-if="newitem.index != undefined" id="addbutton" class="btn btn-success pull-right" type="submit" value="Update Item">
            <input ng-if="newitem.index != undefined" class="btn btn-info pull-right" ng-click="clearnewitem()" tabindex="-1" value="Cancel">
        </form>



    </div>
</div>
<ng-include src="'./html/print/pdcprint.html'" class="visible-print-block" ng-if="pdc.dc_number && pdc.items && pdc.items.length > 0"></ng-include>
